.Toolbar {
    padding: 9px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    flex: 0.10;
    /* min-width: 100px; */
    /* display: flex;  
    height: 500px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid lightgray; */
    /* flex: 0.5; */
}

.RoomName {
    font-weight: 500;
}

/* .Info {
    flex: 1;
    padding-left: 20px;
}

.Info > h3 {
    margin-bottom: 3px;
    font-weight: 500;
} */