/* .Body {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: auto;
    background-color: blue;
} */

.Chat {
    flex: 0.9;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: auto;
}

.Messages {
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.Reciever {
    margin-left: auto;
    background-color: #dcf8c6;
}

.Name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.Timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.Footer {
    flex: 0.10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.Footer > form {
    flex: 1;
    display: flex;
}

.Footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
}

.Footer > form > button {
    display: none;
}

.Footer > svg {
    padding: 10px;
    color: gray;
}